RECAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
HOST_URL=http://localhost:3000
CHATBOT_URL=http://localhost:3002
GUEST_CHATBOT_URL=http://localhost:3001
ASSISTANT_URL=http://localhost:3002
