version: "3.3"

services:
  need_pedia:
    build:
      context: .
    ports:
      - "3000:3000"
    environment:
      RAILS_ENV: "development"
      POSTGRES_USER: "need_pedia"
      POSTGRES_PASSWORD: "need_pedia"
      POSTGRES_DB: "need_pedia_development"
      RECAPTCHA_SECRET_KEY: "6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe"
      RECAPTCHA_SITE_KEY: "6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
      RAILS_MASTER_KEY: "ebfbe695bcc876920f7ab978207afd91"
    volumes:
      - ./:/workspace
      - ./docker/database.yml:/workspace/config/database.yml
    links:
      - db
    depends_on:
      - db
  db:
    image: postgres:11.6
    environment:
      POSTGRES_USER: "need_pedia"
      POSTGRES_PASSWORD: "need_pedia"
      POSTGRES_DB: "need_pedia_development"
    ports:
      - "5432:5432"
