services:
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: needpedia
      POSTGRES_PASSWORD: needpedia
      POSTGRES_DB: needpedia_development
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6380:6379"

  web:
    build:
      context: .
    command: bash -lc "bundle exec rails s -b 0.0.0.0 -p 3000"
    environment:
      RAILS_ENV: development
      DATABASE_URL: postgres://needpedia:needpedia@db:5432/needpedia_development
      REDIS_URL: redis://redis:6379/1
      DISABLE_FIREBASE: "true"
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis

volumes:
  db_data:
  node_modules:


