<table id="Table_03" width="900" height="20%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding-left: 50px; text-align: center;">
      <h1>Hi <%= @receiver.name %>!</h1>
      <p>you have a notification</p>
      <p><%= @event_message %>.<a href="<%= @url %>" target="_blank">Link to Post</a></p>
      <br><br>
      <p>
        If you have any questions or other feedback let us know at <b>Needpedia@gmail.com</b>
      </p>
    </td>
  </tr>
</table>