<div id="conversation-modal" class="modal fade" role="dialog">
  <div class="modal-dialog  modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Conversations</h4>
        <button type="button" class="close" data-dismiss="modal" data-toggle="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= render 'conversations/chat_menu_section', conversations: conversations %>
      </div>
      <div class="modal-footer"></div>
    </div>

  </div>
</div>