<div class="container mb-5">
  <div class="row mt-3">
    <div class="col-md-12 text-center mb-2">
      <h1><b>Notifications</b></h1>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-6">
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <% @notifications.each do |notification| %>
        <%= render "notifications/#{notification.notifiable_type.underscore}/#{notification.action.underscore}", actor: notification.actor, notifiable: notification.notifiable, notification: notification  %>
      <% end %>
    </div>
  </div>
</div>
</div>