<% flash.each do |msg_type, message| %>
  <div class="alert <%= bootstrap_class_for(msg_type) %> fade show div-alert">
    <span><%= message %></span>
    <button class="close btn-close" data-dismiss="alert"></button>
  </div>
<% end %>
