<div class="row">
  <div class="col-lg-12 col-md-12 ml-auto mr-auto pb-1 text-center">
    <%= link_to 'Offer Time Gig', new_gig_path(), class: 'btn  btn-secondary' %>
    <%= link_to 'Search Time Gig', search_gigs_path(), class: 'btn  btn-secondary' %>
    <%= link_to 'My Time Gig', gigs_path(), class: 'btn  btn-secondary' %>
  </div>
</div>



