<div class="row">
  <div class="col-12 d-flex justify-content-center">
    <%= paginate federated_posts, params: { search: @search_query, global_search: (@global_search ? "1" : nil) } %>
  </div>
</div> 