<div class="container mb-5">
  <%= render "shared/tutorial" %>
  <div class="row mt-3">
    <div class="col-md-12 text-center mb-2">
      <h1><b>About Us</b></h1>
    </div>
    <div class="col-md-12">
      <div class="ui-block shadow-lg rounded">
        <div class="ui-block-content">
          <div class="row">
            <div class="col-sm-12">
              <p class="mb-3">The first thing to understand about Needpedia is that it’s not a corporate site. We’re not here
                to make money at all, we’re here to help people come together over the best ideas on Earth.</p>

              <p class="mb-3">That’s the mission statement anyways. If you want to know about the people behind
                Needpedia, then it really boils down to a founder, a programmer, and a handful of people
                who’ve supported the project in various ways throughout the years.</p>

              <p class="mb-3">The longterm goal for Needpedia is to transition into a fully decentralized, digital direct
                democracy. The challenges to this will be many and unpredictable, so until those are dealt
                with, all proposals people make on the site, about the site, will still fall within the veto power of
                the founder. That said, if such a veto is ever made it will be explained in great detail, and
                simply lead to further discussion and voting.</p>

              <p class="mb-3">Because people are always free to just keep proposing new ideas if they don’t like the way
                things are, the meaning of a political victory itself changes. Because on Needpedia there’s
                actually only really 2 options:
                -Find something that works well enough for most people, or,
                -Continue deliberating over what that would be.</p>

              <p class="mb-3">And that speaks to the heart of what Needpedia itself really is. We share all our ideas for all
                the problems WE think really matter, and then we chip away at making agreements. All the
                special tools and other features are really just here to faciliate that. Equality and community.</p>

              <p class="mb-3">Needpedia’s founder is a conflict resolution specialist named Anthony Brasher. He’s an
                activist from Portland Oregon who dreams of travelling the world physically and digitally, to
                collaborate and spread cutting edge solutions.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
