<div class="container mb-5">
  <%= render "shared/tutorial" %>
  <div class="row mt-3">
    <div class="col-md-12 text-center mb-2">
      <h1><b>Careers at Needpedia</b></h1>
    </div>
    <div class="col-md-12">
      <div class="ui-block shadow-lg rounded">
        <div class="ui-block-content">
          <div class="row">
            <div class="col-sm-12 text-center">
              <p class="font-weight-bold">
                At the moment, we do not have any paid positions available, but we do offer volunteer opportunities.
              </p>
              <a href="https://www.volunteermatch.org/search/org995486.jsp" target="_blank" class="btn btn-primary">
                Volunteer Opportunities
              </a>
              <div class="mt-3">
                <img src="https://solutions.volunteermatch.org/hs-fs/hubfs/VM%20logo%20color%20-%20black%20text%20no%20tagline%20-%20transparent.png" 
                     alt="VolunteerMatch Logo" 
                     style="max-width: 150px; border-radius: 5px;"/>
              </div>
            </div>
          </div>
          <hr class="my-4">
          <h2 class="text-center">Government-Required Posters</h2>
          <p>Below are the federally and state-mandated compliance posters. Click on any link to view or download:</p>
          <ul class="list-unstyled">
            <li><a href="https://gov-compliance-posters.s3.us-east-2.amazonaws.com/22-088_EEOC_KnowYourRights6.12.pdf" target="_blank">EEOC: Know Your Rights</a></li>
            <li><a href="https://gov-compliance-posters.s3.us-east-2.amazonaws.com/BOLI_Printable_Break_Pay.pdf" target="_blank">Break Pay Poster</a></li>
            <li><a href="https://gov-compliance-posters.s3.us-east-2.amazonaws.com/BOLI_Printable_Captive_Mtg.pdf" target="_blank">Captive Meetings Poster</a></li>
            <li><a href="https://gov-compliance-posters.s3.us-east-2.amazonaws.com/BOLI_Printable_Equal_Pay.pdf" target="_blank">Equal Pay Poster</a></li>
            <li><a href="https://gov-compliance-posters.s3.us-east-2.amazonaws.com/BOLI_Printable_FamilyMedLv.pdf" target="_blank">Family Medical Leave Poster</a></li>
            <li><a href="https://gov-compliance-posters.s3.us-east-2.amazonaws.com/BOLI_Printable_MinWage.pdf" target="_blank">Minimum Wage Poster</a></li>
            <li><a href="https://gov-compliance-posters.s3.us-east-2.amazonaws.com/BOLI_Printable_SHDVP.pdf" target="_blank">Safe and Healthy Workplace Poster</a></li>
            <li><a href="https://gov-compliance-posters.s3.us-east-2.amazonaws.com/BOLI_Printable_SickLeave.pdf" target="_blank">Sick Leave Poster</a></li>
            <li><a href="https://gov-compliance-posters.s3.us-east-2.amazonaws.com/eppac.pdf" target="_blank">Employee Polygraph Protection Act Poster</a></li>
            <li><a href="https://gov-compliance-posters.s3.us-east-2.amazonaws.com/fmlaen.pdf" target="_blank">Family and Medical Leave Act Poster</a></li>
            <li><a href="https://gov-compliance-posters.s3.us-east-2.amazonaws.com/minwagep.pdf" target="_blank">Minimum Wage Poster (Federal)</a></li>
            <li><a href="https://gov-compliance-posters.s3.us-east-2.amazonaws.com/OSHA+-+Oregon+EN.pdf" target="_blank">OSHA: Oregon Safety Poster</a></li>
            <li><a href="https://gov-compliance-posters.s3.us-east-2.amazonaws.com/Paid-Leave-ModelNotice-Poster-EN.pdf" target="_blank">Paid Leave Poster</a></li>
            <li><a href="https://gov-compliance-posters.s3.us-east-2.amazonaws.com/USERRA_Private.pdf" target="_blank">USERRA Poster</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
