<div class="chatbot my-4 bg-white">
  <iframe
    class="chatbot-frame"
    src="<%= "#{ENV['CHATBOT_URL']}?user_token=#{@token}" %>">
  </iframe>
</div>
<style>
  .chatbot {
    padding-bottom: 2rem;
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: white;
    font-family: Arial, sans-serif;
  }

  .chatbot-frame {
    width: 100%;
    height: 100%;
    border: none;
  }


</style>
