<div class="chatbot my-4 bg-white">
  <iframe
    class="chatbot-frame"
    src="<%= "#{@chatbot_url}?user_token=#{@token}" %>">
  </iframe>
</div>
<style>
  .chatbot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: white;
    font-family: Arial, sans-serif;
  }

  .chatbot-frame {
    width: 100%;
    height: 100%;
    border: none;
  }


</style>
