<div class="chatbot text-center">
  <div class="absolute inset-4 ">
    <div
      class="center-div relative h-full w-full overflow-clip rounded-md border border-zinc-200 bg-white p-2 px-0 py-0"
    >
      <iframe
        style="border: none;"
        src="https://needpedia-openai.netlify.app/"
        width="100%"
        height="100%"
      ></iframe>
    </div>
  </div>
</div>
<style>
  .chatbot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
  }

  .center-div {
    width: 50vw;
    height: 80vh;
    background-color: rgb(102, 71, 255);
    border-radius: 15px;
    padding: 5px;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @media only screen and (max-width: 600px) {
    .center-div {
      height: 80vh;
      width: 60vw;
    }
  }

</style>
