<div class="container mb-5">
  <%= render "shared/tutorial" %>
  <div class="row mt-3">
    <div class="col-md-12 text-center mb-2">
      <h1><b>Contact Us</b></h1>
    </div>
    <div class="col-md-12">
      <div class="ui-block shadow-lg rounded">
        <div class="ui-block-content">
          <div class="row">
            <div class="col-sm-12 text-center">
              <p>You can reach us directly at Needpedia@gmail.com or by finding us on Facebook and other social media sites.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>