body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.128571429;
    color: #333333;
    background-color: #ffffff;
}

.unread-notificatios:after {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: $red;
  content: '';
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-left: -6px;
  margin-bottom: 13px;
}

.private-checkbox {
  background: transparent;
  border: 2px solid #101010;
  border-radius: inherit;
}

#drop-down-search {
  width: 300px !important;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.search-button {
  line-height: 1.3 !important;
  border-radius: 3.3rem !important;
}

.navbar-custom {
    background-color: var(--white) !important;
}

.nav-item > .nav-link {
  color: var(--gray-dark) !important;
}


.ui-block {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e6ecf5;
  margin-bottom: 15px;
}

.ui-block .ui-block-title:last-child {
  border-bottom: 0
}

.ui-block-title {
  padding: 23px 25px 18px;
  line-height: 1;
  border-bottom: 1px solid #e6ecf5;
  border-top: 1px solid #e6ecf5;
  display: table;
  width: 100%;
  position: relative;
  border-radius: 5px 5px 0 0
}
.ui-block-title > * {
  margin-bottom: 0;
  display: table-cell;
  vertical-align: middle
}

.control-icon .ui-block-title a {
  display: inline-block;
  float: right;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 9px;
  padding: 0
}
.ui-block-title .btn {
  display: inline-block;
  margin-bottom: 0
}
.ui-block-content {
  padding: 24px 23px 23px
}
.your-profile-menu {
  padding: 12px 25px;
  border-bottom: 1px solid #e6ecf5;
  margin-bottom: 0
}

.your-profile-menu li a {
  font-size: 11px;
  padding: 12px 0;
  color: #888da8;
  display: block;
  font-weight: 700
}

.your-profile-menu li a {
  color: #515365;
  font-size: 0.9em !important;
}

.your-profile-menu {
  list-style: none;
}

.accordion-menu .card-header {
  padding: 0
}

.accordion-menu .card-header a > .olymp-dropdown-arrow-icon {
  margin-left: 15px;
  margin-top: 4px
}

.accordion-menu .card-header svg {
  margin-top: 0
}

.accordion-menu .card-header a {
  color: inherit;
  font-size: 13px
}

.card-footer, .card-header {
  padding: .75rem 1.25rem;
  background-color: #fff;
}

.card {
  border: none
}

.card-header a {
  color: #515365;
  display: block
}

.card-header a:focus, .card-header a:hover {
  color: #515365
}

.customer-quote {
  font-size: 18px;
  font-weight: 400;
  color: black;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 40px;
}

.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

#kaminari{
  margin-bottom: 110px;
  .pagination {
    display: inline-block;
  }
  .pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }


  .pagination span.current{
    background-color: #bbbec1;
  }

}

.btn-secondary, .btn-secondary.disabled {
  transition: 0.2s ease-in;
  background-color: #ffffff;
  color: #8d97ad;
}

.btn-rounded {
  border-radius: 60px;
  -webkit-border-radius: 60px;
}

.btn-secondary:hover, .btn-secondary.disabled:hover {
  color: #ffffff !important;
}

#sidebar {
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #c1c5c8;
  overflow-x: hidden;
  padding-top: 20px;

  .image-part {
    position: relative;
    width: 50%;
  }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 68%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .image-part:hover .img {
    opacity: 0.3;
  }

  .image-part:hover .middle {
    opacity: 1;
  }
  .text {
    color: white !important;
    font-size: 16px;
  }
}

.margin-top {
  margin-top: 40px;
  margin-bottom: 40px;
}

#tag_cloud{
  with: 400px;
  line-height: 1.6em;
  .s{font-size: 0.8em}
  .m{font-size: 1.2em}
  .l{font-size: 1.8em}
}

.token_img {
  width: 35px;
  padding: 5px
}


.fr-wrapper a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
  display: none !important;
}

a[href="https://www.froala.com/wysiwyg-editor?pb=1"] {
  display: none !important;
}

.fr-second-toolbar {
  display: none;
}

@media (min-width: 1200px){
  #navbar-container {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: -webkit-sticky;
      position: sticky;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 55px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #e8edf2;
    }
    .img-section {
      margin-right: 5px;
    }
  }

  .chat-dropdown {
    width: 350% !important;
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .conversation-item {
    padding-left: 0px !important;
  }
  .navbar-image {
    height: 55px;
    width: 55px;
  }
  .img-section {
    margin-right: -35px;
  }
}

@media (min-width: 1024px) and (max-width: 1199.98px){
  #navbar-container {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: -webkit-sticky;
      position: sticky;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 55px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #e8edf2;
    }
  }
  .chat-dropdown {
    width: 350% !important;
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .conversation-item {
    padding-left: 0px !important;
  }
  .navbar-image {
    height: 55px;
    width: 55px;
  }

  .img-section {
    margin-right: 5px;
  }
}

@media (min-width: 992px) and (max-width: 1023.98px){
  #navbar-container {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: -webkit-sticky;
      position: sticky;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 46px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #e8edf2;
    }
  }
  .chat-dropdown {
    width: 350% !important;
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .conversation-item {
    padding-left: 0px !important;
  }
  .navbar-image {
    height: 55px;
    width: 55px;
  }

  .img-section {
    margin-right: 1px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  #navbar-container {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: -webkit-sticky;
      position: sticky;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 35px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #e8edf2;
    }

    .img-section {
      margin-right: 30px;
    }
  }
  .chat-dropdown {
    width: 350% !important;
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .conversation-item {
    padding-left: 0px !important;
  }

  .navbar-image {
    height: 55px;
    width: 55px;
  }
}

@media (max-width: 767.98px){
  #navbar-container {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: -webkit-sticky;
      position: sticky;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 4px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #e8edf2;
    }
  }
  .chat-dropdown {
    width: 300px !important;
    right: auto;
    left: 90%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .conversation-item {
    padding-left: 0px !important;
  }
  .navbar-image {
    height: 35px;
    width: 35px;
  }

  .img-section {
    margin-right: 10px;
  }
}

.profile-picture {
  display: block;
  width: 230px;
  height: 230px;
  margin: 0 auto; }