<div class="card mb-1">
  <div class="card-body">
    <h5>
     Your request to join <%= link_to notification.notifiable&.group&.name, group_path(notifiable&.group&.id) %> group has been accepted.
    </h5>
    <em class="text-muted"><%= notification.created_at.strftime('%e %b %Y %H:%M %p') %></em>
  </div>
</div>
