<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.select(
          field.attribute,
          options_for_select(field.collection.map { |name, value|
            [name, value]
          }, field.data),
          {},
          { class: "form-control color-select", onchange: "updateSelectClass(this);" }
      ) %>
</div>
<style>
  /* Define text colors for options based on their value */
  select option[value="primary"] { color: #007bff; }
  select option[value="secondary"] { color: #6c757d; }
  select option[value="success"] { color: #28a745; }
  select option[value="danger"] { color: #dc3545; }
  select option[value="warning"] { color: #ffc107; }
  select option[value="info"] { color: #17a2b8; }
  select option[value="dark"] { color: #343a40; }
  select option[value="none"] { color: #343a40; }
  select option[value="light"] { color: #343a40; }
</style>
<script>
    function updateSelectClass(selectElement) {
        // Define a mapping between values and Bootstrap classes
        const classMapping = {
            'primary': 'text-primary',
            'secondary': 'text-secondary',
            'success': 'text-success',
            'danger': 'text-danger',
            'warning': 'text-warning',
            'info': 'text-info',
            'light': 'text-light',
            'dark': 'text-dark',

        };

        // Get the selected value
        var selectedValue = selectElement.value;

        // Remove all Bootstrap text classes
        Object.values(classMapping).forEach(className => {
            selectElement.classList.remove(className);
        });

        // Add the corresponding Bootstrap class to the select element
        if (classMapping[selectedValue]) {
            selectElement.classList.add(classMapping[selectedValue]);
        }
    }

    // Apply the Bootstrap class on page load based on the current selection
    document.addEventListener("DOMContentLoaded", function() {
        var selectElements = document.querySelectorAll('.color-select');
        selectElements.forEach(function(selectElement) {
            updateSelectClass(selectElement);
        });
    });
</script>
