//= require trix

@charset "utf-8";

@import "reset/normalize";
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import "selectize";
@import "library/clearfix";
@import "library/data-label";
@import "library/variables";

@import "base/forms";
@import "base/layout";
@import "base/lists";
@import "base/tables";
@import "base/typography";

@import "components/app-container";
@import "components/attributes";
@import "components/buttons";
@import "components/cells";
@import "components/field-unit";
@import "components/flashes";
@import "components/form-actions";
@import "components/main-content";
@import "components/navigation";
@import "components/pagination";
@import "components/search";

@import "utilities/text-color";
@import "utilities/action_text";

.alert {
  padding: 15px;
  margin: 20px;
  margin-bottom: 7px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.text-center {
  text-align: center !important;
}
