<div class="card mb-1">
  <div class="card-body">
    <h5><%= link_to "#{actor.name}", wall_path(uuid: actor.uuid) %> created a layer Post <%= link_to notification.post.title, post_path(notification.post.id) %> on Post <%= link_to notification.post.parent_post.title, post_path(notification.post.parent_post.id) %></h5>
  </div>
</div>
