<div class="card">
  <div class="card-body">
    <h5><%= link_to "#{actor.name}", wall_path(uuid: actor.uuid) %> updated the Post you are tracking. <%= link_to notification.post.title, post_path(notification.post.id) %></h5>
  </div>
</div>