<div class="card mb-1">
  <div class="card-body">
    <h5><%= link_to "#{actor.name}", wall_path(uuid: actor.uuid) %> upvoted your answer on post <%= link_to notification.post.title, post_path(notification.post.id) %></h5>
  </div>
</div>
