<div class="card mb-1">
  <div class="card-body">
    <% if notification.post.present? %>
      <h5>You have been added to a private Area, follow <%= link_to 'this', post_path(notification.post.id) %> link to see it.</h5>
    <% else %>
      <h5>You have been added to a private Area, "Which is not available anymore." </h5>
    <% end %>
  </div>
</div>
