<div class="row">
  <%= render "shared/tutorial" %>
  <div class="col-lg-12 col-md-12 ml-auto mr-auto">
    <div class="ui-block shadow-lg rounded">
      <div class="ui-block-content">
        <h1 class="text-center">Edit <%= @post.post_type.titleize %> Post <%= '(Private)' if @post.private %></h1>
        <%= render 'form', post: @post %>
      </div>
    </div>
  </div>
</div>
