//= require actiontext
//
// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "jumpstart/sticky-footer";
@import "jumpstart/announcements";
@import "jumpstart/custom";
//@import "./actiontext";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

.btn-purple {
  background-color: #800080;
  border-color: #800080;
  color: white;
}

.btn-purple:hover {
  color: white;
}
.text-purple {
  color: #800080;
}
