//= require actiontext
//= require trix
//
// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "jumpstart/sticky-footer";
@import "jumpstart/announcements";
@import "jumpstart/style";
@import "jumpstart/custom";
@import "jumpstart/conversations";
@import "../../../node_modules/summernote/dist/summernote";
@import '../../../node_modules/select2/dist/css/select2';

//@import "./actiontext";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

.btn-purple {
  background-color: #800080;
  border-color: #800080;
  color: white;
}

.border-comments {
  border-color: #e1e1f3 !important;
}

.btn-purple:hover {
  color: white;
}

.btn-yellow {
  background-color: #ffc107;
  border-color: #ffc107;
  color: white;
}

.btn-yellow:hover {
  color: white;
}

.text-purple {
  color: #800080;
}

.trix-button-group--file-tools {
  display: none !important;
}

.media {
  border-top: 1px dashed #DDDDDD;
  padding: 20px 0;
  margin: 0;
}

.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}

.search-result-rating {
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (max-width: 760px) {
  //
  .search-result-img {
    width: 100%;
    height: 100%;
  }
}
.badge {
  .close {
    margin-left: .25rem;
    color: inherit;
    font-size: 100%;
    text-shadow: 0 1px 0 rgba(#000, .5);
  }
}
.hidden {
  display: none;
}