<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', "#{ENV['HOST_URL']}/users/confirmation?confirmation_token=#{@token}", target: :_blank %></p>
