<% email_template = EmailTemplate.find_by(name: 'password_change') %>

<% if email_template.present? %>
  <%= ApplicationController.helpers.liquid_template("password_change", arguments: {user: {name: @resource.name}}).html_safe %>
<% else %>
  <p>Hello <%= @resource.email %>!</p>

  <p>We're contacting you to notify you that your password has been changed.</p>
<% end %>
