<%= render 'shared/offer_buttons' %>
<%= render "shared/tutorial" %>

<div class="row">
  <div class="col-lg-12 col-md-12 ml-auto mr-auto mt-4">
    <div class="ui-block shadow-lg rounded">
      <div class="ui-block-content">
        <h1 class="text-center">Add Gig</h1>
        <%= render 'form', gig: @gig %>
      </div>
    </div>
  </div>
</div>
