<%= render 'shared/offer_buttons' %>
<%= render "shared/tutorial" %>

<div class="container mb-10 " style="margin-bottom: 25rem !important;">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 mt-5">
      <%= search_form_for @q, url: search_result_gigs_path do |f| %>
        <div class="row no-gutters align-items-center">
          <div class="col">
            <%= f.text_field :title_or_area_tag_cont, class: 'form-control form-control-lg', placeholder: "Search" %>
          </div>
          <div class="col-auto">
            <button class="ml-2 btn btn-lg btn-secondary search-button" type="submit">Go</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
