<div class="page-header">
  <%= link_to related_contents_path, class: 'btn btn-default' do %>
    All Related_contents
  <% end %>
  <%= link_to edit_related_content_path(@related_content), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show related_content</h1>
</div>

<dl class="dl-horizontal">
</dl>
