<div id="pictureModal" class="modal fade" role="dialog">
  <div class="modal-dialog  modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding: 0.2rem 1rem 0;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
        <div class="modal-body">
          <%= image_tag(@picture, class: 'rounded img-responsive', width: "100%", alt: "Nature") %>
        </div>
    </div>

  </div>
</div>
