<div class="row">
  <% if user.pictures.attached? %>
    <% user.pictures.each do |picture| %>
      <div class="col-6 mb-2 float-left">
        <%= link_to modal_picture_path(id: picture), remote: true do %>
          <%= image_tag(picture, class: 'rounded img-fluid', alt: "Nature") %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
