<div class="wrapper d-flex align-items-stretch mb-10">
  <%= render 'shared/sidebar' %>
  <!-- Page Content  -->
  <div id="content" class="p-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <%= render_activities @activities %>
        <% if @activities.blank? %>
          No activity by this by <%= @user.name %>
        <% end %>
      </div>
    </div>
  </div>
</div>
