<%= render "shared/tutorial"  %>
<div class="mini-spacer-with-no-space feature14">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h3 class="title">Your Connections</h3>
      </div>
    </div>
    <%= search_form_for @f, url: search_results_path, method: :post do |keywords| %>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-sm-10">
            <div class="form-group has-search search-col">
              <%= text_field_tag :first_name, "", {class: 'form-control', placeholder: 'Search'} %>
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <button class="btn waves-effect waves-light btn-rounded btn-secondary btn-block">GO</button>
          </div>
        </div>
      </div>
    <% end %>
    <%= render 'friends_list' %>
  </div>
</div>
