<div class="container mb-5">
  <div class="row mt-3">
    <div class="col-md-12 text-center mb-2">
      <h1><b>Search results</b></h1>
    </div>

    <div class="col-md-12">
      <div class="row m-t-40 p-t-20 artist-box">
        <div class="col-md-12">
          <div class="row">
            <%= render 'profile/small_friends_list', friends: @friends %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>