name: Deploy To Server(staging)

on:
  push:
    branches: [ staging-deploy ]

jobs:
  deploy:
    name: Capistrano Deploy to Server
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}
          
      - name: Adding Known Hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts
          
      - name: Configure SSH
        run: |
          cat >> ~/.ssh/config <<EOF
          Host 18.223.241.10
            IdentitiesOnly yes
            ForwardAgent yes
          EOF
      
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.8
          bundler-cache: true

      - name: Deploy to Production
        run: bundle exec cap production deploy